@import "tailwindcss";

.text-stroke-white {
    -webkit-text-stroke: 2px white;
    color: black
}

html, body {
    overflow-x: hidden;
  }
  

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.container {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-x: hidden;
  }
  

.curved-top {
    clip-path: ellipse(100% 100% at 50% 100%);
  }

  .App{
    background-color: #111;
    color: #fff;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }


